*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-image: url(../logo/maxtrixx.gif);*/
}

header {
   
    box-shadow: 2px 4px 10px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 


nav li{
    text-transform: uppercase;
    color: rgb(196, 151, 5);
    font-weight:  bold;
    font-size: 22px;
    text-decoration: none;
    display: inline;
    margin: 0 0 0 15px;
}


img{
    
    display: inline;
    border-radius: 25px;
    box-shadow: 2px 4px 10px rgb(10, 105, 22);
    max-width: 80%;
    margin-left: 10px;
}

main{
    width: auto;
    display: flex;
    
}

main section{
    display: inline-block;
    height: auto;
    border: 2px solid green;
    border-radius: 15px;
    margin: 30px;
    text-align: center;
}

.encriptar{
    display: flex;
    align-self: center;
}

footer{
    text-align: center;
    background-image: url(../logo/matrix.gif);
    padding: 50px;
    color: goldenrod;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}


