*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: space-between;
} 
nav{
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: space-between;
}
div{
    display: block;

}

